
main {
	background-image: url("../assets/phare.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


section {
	padding: 2rem;
	display: flex;
	justify-content: space-between;
}

article {
	background-color: rgb(255, 255, 255, 0.7);
}

img {
	max-width: 100%;
	height: auto;
}




